<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="org.testng.ExceptionTimeout"/>
      <class name="org.testng.GroupingTest"/>
      <class name="org.testng.InvocationCount"/>
      <class name="org.testng.testingfeature"/>
      <class name="org.testng.TestngSequnce"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
